@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Press+Start+2P&family=VT323&display=swap");

/* TABLE OF CONTENTS */
/*
* 1. GENERAL STYLES
* 2. HEADER
* 3. LOG-IN SIGNUP
* 4. CRUD Table
* 5. FOOTER
* 6. MEDIA QUERIES
*
*/

/* 1. GENERAL STYLES */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  transition: all 0.3s linear;
}
html {
  box-sizing: border-box;
  height: 100%;
  background-color: var(--white);
  scroll-behavior: smooth;
}

h1,
h2,
a {
  font-family: "Press Start 2P", sans-serif;
}

h3,
h4,
h5,
h6,
p {
  font-family: "Montserrat", sans-serif;
}

:root {
  --pixel-red: #eb062c;
  --pixel-orange: #eb741d;
  --pixel-grey: #333;
  --offgrey: #ebebeb;
  --pixel-blue: #1e92fd;
  --size-xxl: 72px;
  --size-xl: 48px;
  --size-l: 40px;
  --size-m: 30px;
  --size-s: 27px;
  --size-xs: 24px;
  --size-xxs: 18px;
}

/* 2. HEADER */
#header {
  padding: 42px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

#site-name {
  flex-grow: 1;
}

#site-name a {
  color: var(--pixel-red);
  font-size: var(--size-m);
  text-decoration: none;
}

#navbar {
  display: flex;
  align-items: center;
}

.nav-item a {
  color: var(--pixel-red);
  font-size: var(--size-s);
  font-family: "VT323", monospace;
  text-decoration: none;
}

.nav-item {
  list-style: none;
  margin-right: 50px;
  display: inline-block;
}

.nav-item a:link,
.nav-item a:visited {
  color: var(--pixel-red);
}

.nav-item a:hover,
.nav-item a:active {
  color: var(--pixel-orange);
}

/* 3. LOG-IN/SIGN-UP */
#signup,
#login {
  background-color: var(--pixel-grey);
  padding: 100px 0;
}

.section-container {
  display: flex;
  justify-content: center;
}

.signup-form,
.login-form {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 100px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signup-form h2,
.login-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.with-border {
  border: 3px solid var(--pixel-grey);
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}

.name-group {
  display: flex;
  gap: 10px;
}

.name-field {
  flex: 1;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 20px 40px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid var(--offgrey);
  font-family: "Montserrat", sans-serif;
}

.input-field {
  text-align: left;
}
.error {
  color: var(--pixel-red);
  font-size: var(--size-xs);
  margin-top: 5px;
}

button[type="submit"] {
  background-color: var(--pixel-red);
  color: white;
  padding: 20px 30px;
  font-size: var(--size-m);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Press Start 2P", sans-serif;
}

button[type="submit"]:hover {
  background-color: var(--pixel-orange);
}

.signup-form button[type="submit"],
.login-form button[type="submit"] {
  margin-left: auto;
  display: block;
}

/* 4. CRUD TABLE */

/* 5. FOOTER */

#footer {
  padding: var(--size-m);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--offgrey);
}

#powerBy {
  text-align: center;
  margin-bottom: 16px;
  display: flex;
  font-size: var(--size-xxs);
  align-items: center;
}

#powerBy a {
  color: var(--pixel-red);
  margin-left: 10px;
}

.brickmmo-logo {
  max-width: 100%;
  height: 30px;
}

#socmedia {
  list-style: none;
  display: flex;
  justify-content: center;
}

.socmedia-item {
  margin: 0 10px;
}

.socmedia-item a {
  color: var(--pixel-grey);
  font-size: var(--size-s);
}

.socmedia-item a {
  display: block;
  height: var(--size-s);
  color: var(--white);
  font-size: var(--size-xs);
  line-height: var(--size-m);
  text-align: center;
}

.socmedia-item a:hover {
  color: var(--pixel-orange);
}

.socmedia-item:not(:last-child) {
  margin-right: var(--size-l);
}
.socmedia-item:last-child {
  margin-right: 0;
}

/* MEDIA QUERIES */

/* Media queries for mobile devices */
@media (max-width: 768px) {
  .signup-form {
    padding: 50px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .input-field,
  button[type="submit"] {
    width: 100%;
  }

  .name-group {
    flex-direction: column;
  }
}
