<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pixelate Backend</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <header>
      <h1>Pixelate Backend</h1>
      <h2>Welcome to the Pixelate Database</h2>
      <nav>
        <ul>
          <li>
            <h3><a href="/">Home</a></h3>
          </li>
          <% if (loggedIn) { %>
          <li>
            <h3><a href="/logout">Logout</a></h3>
          </li>
          <li>
            <h3><a href="/register">Register New User</a></h3>
          </li>
          <% } else { %>
          <li>
            <h3><a href="/login">Login</a></h3>
          </li>
          <% } %>
        </ul>
      </nav>
    </header>
    <div class="data-table"></div>
    <script>
      fetch("/api/pixelations")
        .then((response) => {
          console.log(response);
          if (!response.ok) {
            throw new Error("Failed to retrieve data");
          }
          return response.json();
        })
        .then((data) => {
          console.log("Received data:", data);
          const container = document.querySelector(".data-table");

          data.forEach((item) => {
            const div = document.createElement("div");
            div.className = "data-table-item";

            const originalImagePreview = document.createElement("img");
            originalImagePreview.className = "data-table-item-image";
            originalImagePreview.src = item.original_image;
            originalImagePreview.alt = "Original Image";

            const pixelatedImagePreview = document.createElement("img");
            pixelatedImagePreview.className = "data-table-item-image";
            pixelatedImagePreview.src = item.pixelated_image;
            pixelatedImagePreview.alt = "Pixelated Image";

            const originalImageLink = document.createElement("a");
            originalImageLink.className = "data-table-item-link";
            originalImageLink.href = item.original_image;
            originalImageLink.download = "original_image.jpeg";
            originalImageLink.textContent = "Download Original Image | ";

            const pixelatedImageLink = document.createElement("a");
            pixelatedImageLink.className = "data-table-item-link";
            pixelatedImageLink.href = item.pixelated_image;
            pixelatedImageLink.download = "pixelated_image.jpeg";
            pixelatedImageLink.textContent = "Download Pixelated Image | ";

            const instructionsLink = document.createElement("a");
            instructionsLink.className = "data-table-item-link";
            instructionsLink.href = item.instructions;
            instructionsLink.download = "instructions.pdf";
            instructionsLink.textContent = "Download Instructions";

            const segmentText = document.createElement("p");
            segmentText.className = "data-table-item-segment";
            segmentText.textContent = `Segment: ${item.segment}`;

            const previewContainer = document.createElement("div");
            previewContainer.className = "preview-container";
            previewContainer.appendChild(originalImagePreview);
            previewContainer.appendChild(pixelatedImagePreview);

            const linkContainer = document.createElement("div");
            linkContainer.className = "link-container";
            linkContainer.appendChild(originalImageLink);
            linkContainer.appendChild(pixelatedImageLink);
            linkContainer.appendChild(instructionsLink);

            div.appendChild(previewContainer);
            div.appendChild(linkContainer);
            div.appendChild(segmentText);

            container.appendChild(div);
          });
        })
        .catch((error) => {
          console.error("Error retrieving data:", error);
        });
    </script>
  </body>
</html>
