<h1>Register a New User</h1>

<form action="/register" method="POST">
  <div>
    <label for="name">Username: </label>
    <input type="text" id="username" name="username" required />
  </div>
  <div>
    <label for="name">Password: </label>
    <input type="text" id="password" name="password" required />
  </div>
  <button type="submit">Register</button>
</form>
<a href="/login">Login</a>
